# Apache Autoindex Directives

Options Indexes
IndexOptions FancyIndexing HTMLTable SuppressRules IconsAreLinks ScanHTMLTitles NameWidth=* DescriptionWidth=*

# Autoindex-Strapdown Directives

AddType text/plain .md
HeaderName HEADER.md
ReadmeName README.md

IndexHeadInsert "\
<script>conf = {theme: 'bootstrap', title: 'Autoindex-Strapdown', strapdown: '/strapdown/strapdown.js'};</script> \
<script src='/autoindex_strapdown.js'></script> \
<link rel='stylesheet' href='/autoindex_strapdown.css'>"

# Icon using Bootstrap's Glyphicon set

AddIcon /icons/blank.svg ^^BLANKICON^^
AddIcon /icons/glyphicon-folder-open.svg ^^DIRECTORY^^
AddIcon /icons/glyphicon-circle-arrow-up.svg ..
DefaultIcon /icons/glyphicon-file.svg

AddIconByEncoding (CMP,/icons/glyphicon-file.svg) x-compress x-gzip

AddIconByType (TXT,/icons/glyphicon-file.svg) text/*
AddIconByType (IMG,/icons/glyphicon-picture.svg) image/*
AddIconByType (SND,/icons/glyphicon-music.svg) audio/*
AddIconByType (VID,/icons/glyphicon-film.svg) video/*

# Override common defaults

AddIcon /icons/glyphicon-file.svg .bin .exe .hqx .tar .wrl .wrl.gz .vrml .vrm .iv .Z .z .tgz .gz .zip .ps .ai .eps .html .shtml .htm .pdf .txt .c .pl .py .for .dvi .uu .conf .sh .shar .csh .ksh .tcl .tex core

# Descriptions

AddDescription "tl;dr: MIT, use freely" LICENSE
AddDescription "Documented master copy of code" autoindex_strapdown.js
AddDescription "master copy of styles" autoindex_strapdown.css
AddDescription "SVG icons" icons